.header-wrapper {
  /* max-height: 10vh; */
  height: 80px;
  background-color: #3f51b5;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
}

.right {
  float: right;
}

.left {
  float: left;
}

.right-row {
  height: 80px;
}

.header-hamburger {
  display: none !important;
}

@media screen and (max-width: 500px) {
  .header-buttons {
    display: none;
  }
  .MuiDrawer-paperAnchorTop {
    background-color: #3f51b5 !important;
  }
  .header-hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    display: block !important;
    color: white !important;
    height: 80px !important;
    font-size: 40px !important;
  }
  .header-hamburger:hover {
    cursor: pointer;
    color: #ddd !important;
  }
  .header-drawer > .MuiDrawer-paperAnchorTop > .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

}

