.header-wrapper {
  max-height: 10vh;
  height: 8vh;
  background-color: #3f51b5;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
}

.right {
  float: right;
}

.left {
  float: left;
}

.right-row {
  height: 8vh;
}

