.logout-wrapper {
  color: white;
  padding-left: 20px;
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-link {
  color: white;
}

.logout-link:hover {
  color: #ddd;
  text-decoration: none;
}