.logout-wrapper {
  color: white;
  padding-left: 20px;
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-link {
  color: white;
}

.logout-link:hover {
  color: #ddd;
  text-decoration: none;
}

@media screen and (max-width: 500px){
  .logout-wrapper {
    padding: 0;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .logout-icon {
    font-size: 35px !important;
  }
}