################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MainMenu/.vs/LogIn/v16/Server/sqlite3
