################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MainMenu/.vs/LogIn/v16/Server/sqlite3
/MainMenu/.vs/LogIn/v16/.suo
/MainMenu/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/
