.settings-password-input, .settings-repeat-password-input {
    width: 100%;
}

.settings-password-input-wrapper, .settings-repeat-password-input-wrapper {
    padding-left: 20px !important;
    padding-right: 20px !important;
}