.settings-main-paper {
    text-align: center;
}

.settings-subjects-col {
    padding: 0 !important;
}

.settings-container {
    margin-top: 100px !important;
}

@media screen and (max-width: 991px){
    .settings-main-paper {
        margin-top: 50px;
    }
}